@font-face {
    font-family: GraublauWeb;
    font-weight: bold;
    src: url("Fonts/THE_JACATRA.otf") format("opentype");
}


#body{
  background-image: url(images/Computerguy.gif);
}

#myCanvas{
  border: 2px solid #000000;
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.game-title{
    text-align: center;
    font-size: 80px;
    color: white;
    font-family: 'GraublauWeb', sans-serif;
    fill: white;
}

