@font-face {
    font-family: 'Arcade';
    src: URL('Fonts/ARCADE_R.TTF') format('truetype');
  }


#body{
  background-image: url(images/Computerguy.gif);
}

.game-title{
    margin: 0;
    text-align: center;
    font-size: 100px;
    font-family: 'Arcade';
    position: relative;
    letter-spacing: 2px;
    color: aliceblue;
  
}
#myCanvas{
  border: 4px solid #000000;
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #8C69A6;
}

.tools{

}

.btn{
  background-color: #8C69A6;
  color: white;
  border: 2px solid #000000; /* Green */
  width: 100px;
  height: 50px;
  border-radius: 8px;
}

.btn:hover {
  background-color: white; /* Green */
  color: black;
}

.btn:active {
  transform: translateX(-8px);
}