* {
    box-sizing: border-box;
    font-family: Roboto;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  #wrapper {
    min-height: 100%;
    position: relative;
  }
  
  #content {
    padding-bottom: 76px;
    text-align: center;
  }

  .something{
    text-align: center;
  }